@charset "UTF-8";
 @media screen and (min-width: 450px){
    form > input.form {
        width: 94%;
    }
    form > div > input.form {
        width: 94%;
    }
    div#contato > form > input {
        margin-top: 3%;
    }
    @media screen and (min-width: 768px) {
        body {
            background-color: #e6e6e6;
        }
        nav > ul {
            justify-content: space-around;
            background-color: white;
        }
        header {
            padding: 5% 14% 8% 14%;
            background-size: cover;
            background-image: url(../imagens/london.jpg);
        }
        div#caixa > form > div{
            display: inline-block;
            width: 47%;
            margin: 0% 1%;
        }
        header > article > div#caixa > form > .botao {
            margin-left: 1%;
        }
        div#caixa {
            background-color: white;
        }
        h2 {
            padding-top: 4%;
        }
        section {
            display: grid;
            grid-template-columns: repeat(4, 23.5%);
            grid-template-rows: repeat(2, 44%);
            grid-template-areas: "um um dois tres"
            "um um quatro cinco";
            gap: 14px;
        }
        #img1 {
            grid-area: um;
        }
        #img2{
            grid-area: dois;
        }
        #img3{
            grid-area: tres;
        }
        #img4{
            grid-area: quatro;
        }
        #img5{
            grid-area: cinco;
        }
        main {
            margin: auto;
            max-width: 760px;
        }
        main > h2 {
            margin-top: 0px;
        }
        div#nature{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 41%;
            grid-template-areas: "div div"
            "email email";
            gap: 14px;
        }
        div#nature > div#email {
            grid-area: email;
            margin-top: 0%;
        }
        form > input.form {
            width: 97%;
        }
        footer {
            margin: auto;
            max-width: 760px;
        }
        @media screen and (min-width: 1366px) {
            nav > ul {
                justify-content: space-between;
            }
            header {
                padding-top: 14%;
                padding-bottom: 14%;
            }
            article {
                margin: auto;
                max-width: 890px;
            }
            form > div > input.form {
                width: 96%;
            }
            main {
                max-width: none;
                max-width: 1100px;
            }
            section {
                grid-template-columns: repeat(4, 255px);
                grid-template-rows: repeat(2, 192px);
                gap: 16px;
            }
            main > h2 {
                padding-top: 2.5%;
            }
            div#nature {
                gap: 18px;
            }
            div#contato > form > input {
                margin-top: 1%;
                padding: 15px;
            }
            div#contato > ul {
                margin-left: 20px;
            }
            form > input.form {
                width: 98%;
            }
        }
        
    }
}