@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid rgb(133, 133, 133);
}
nav > ul > li {
    margin: 6px;
    padding: 6px;
    font-size: 25px;
    font-weight: bold;
    color: #F44336;
}
header > article > ul {
    display: flex;
    list-style: none;
}
header > article > ul > li {
    width: 100%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(0, 0, 0);
}
header > article > ul > li:hover {
    color: white;
    background-color: #F44336;
}
h1 {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 17px;
    font-weight: normal;
}
form {
    margin: 0px 15px;
}
form > input { 
    display: block;
    width: 92%;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 10px 10px;
    color: #838486;
}
.botao {
    cursor: pointer;
    margin: 10px 0px 32px 0px;
    padding: 10px 19px;
    font-size: 15px;
    background-color: #616161;
    color: white;
    border: none;
}
main {
    background-color: #e6e6e6;
}
h2 {
    padding-top: 68px;
    margin-left: 15px;
    margin-bottom: 17px;
    font-weight: normal;
}
main > p {
    margin: 15px;
}
section {
    margin: 0px 16px;
}
section > div {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 5%;
}
section > div > p{
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
    color: white;
    font-size: 18px;
} 
section > div > img {
    height: 100%;
    width: 100%;   
    grid-column: 1;
    grid-row: 1/3;
    
}
#nature {
    margin: 0px 16px;
}
#nature > div > img {
    width: 100%;
}
div#nature > div {
    background-color: white;
    padding-bottom: 5px;
    margin-bottom: 5%;
}
#nature > div > h3 {
    margin: 15px;
    font-weight: normal;
}
#nature > div > p {
    margin: 20px 15px;
    line-height: 25px;
}
#nature > div > p > span {
    color: #838486;
}
#nature > div > p > a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
#nature > div#email {
    margin-top: 10%;
    padding-top: 15px;
    color: white;
    background-color: rgb(94, 94, 94);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
}
#nature > div#email > h3 {
    font-size: 1.7em;
}
#nature > div#email > form > button {
    padding: 10px 19px;
    margin: 10px 0px;
    font-size: 15px;
    background-color: rgb(252, 124, 124);
    color: white;
    border: none;
    cursor: pointer;
}
div#contato {
    margin: 0px 16px;
}
div#contato > h3 {
    margin: 25px 0px;
    font-size: 1.5em;
    font-weight: normal;
}
div#contato > ul {
    line-height: 25px;
    margin: 5% 16px;
}
div#contato > form {
    margin: 0px;
}
div#contato > form > input {
    margin-top: 5%;
    padding: 10px;
}
div#contato > form > .botao {
    background-color: black;
}
footer {
    padding-bottom: 15px;
    text-align: center;
    background-color: #e6e6e6;
}
footer > p {
    color: #838486;
    margin-bottom: 30px;
}
footer > p > a {
    color: #838486;
}